<div class="text-center">
  <h3>Recuperação de senha de usuário</h3>
  <p>Entre com os seus dados para recuperar sua senha.</p>
</div>
<hr />
<form>
  <div class="mb-2">
    <label>Email de acesso:</label>
    <input type="text" class="form-control" />
  </div>
  <div class="mb-2 d-grid">
    <button type="submit" class="btn btn-primary">
      Confirmar Recuperação de Senha
    </button>
  </div>
  <div class="mb-2 d-grid">
    <a routerLink="/pages/autenticar" class="btn btn-light">
      Já possui conta? <strong>Acesse aqui!</strong>
    </a>
  </div>
</form>
